body{
  font-family: 'League Spartan', sans-serif;
}
.top-half{
  background-image: url('./images/bg-pattern-top-mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  width: 94%;
  margin: 0 auto;
}

.bottom-half{
  background: url('./images/bg-pattern-bottom-mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  width: 94%;
  margin: 0 auto;
}

h1{
  font-size: 2.1rem;
  text-align: center;
  color: hsl(300, 43%, 22%);
  font-weight: 900;
}

.top-text{
  color: hsl(303, 10%, 53%);
  text-align: center;
}
.comments-1, .comments-2, .comments-3{
  background-color: hsl(300, 43%, 22%);
  color: white;
  font-weight: 400;
  border-radius: .3rem;
}

.comments p{
  margin: .5rem auto;
}
.ratings-1, .ratings-2, .ratings-3{
  background-color: hsl(300, 24%, 96%);
  color: hsl(300, 43%, 22%);
  text-align: center;
  font-weight: 700;
  border-radius: .3rem;
}

.bottom-half img{
  border-radius: 50%;
  float: left;
  margin: 1.7rem 1.2rem;
  width: 2.5rem;
  height: 2.5rem;
}

.intro{
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}
.intro h2{
  margin-top: 1.5rem;
  margin-bottom: .2rem;
  font-size: 1.2rem;
  color: white;
}

.intro h3{
  margin-top: 0;
  font-size: 1rem;
  color:  hsl(333, 80%, 67%);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (min-width: 768px){
  .top-half{
    display: flex;
    flex-direction: row;
    width: 94%;
  }
  .bottom-half{
    /* display: flex; */
    position: relative;
    width: 96%;
  }
  .top-content h1, .top-content p{
    text-align: left;
  }
  .top-content h1{
    width: 60%;
  }
  .top-content p{
    width: 90%;
  }
  .ratings{
    margin-left: 3rem;
    padding: 2rem 1.5rem;
  }
  .ratings-1, .ratings-2, .ratings-3{
    padding: .8rem 1.5rem;
  }
  .top-content, .ratings{
    width: 40%;
  }
  .ratings{
    display: flex;
    flex-direction: column;
  }
  .ratings-1{
    margin-right: 5rem;
  }
  .ratings-2{
    margin-left: 1.5rem;
    margin-top: 0.7rem;
    margin-right: 2.5rem;
  }
  .ratings-3{
    margin-left: 3rem;
    margin-top: 0.7rem;
  }
  .comments-1, .comments-2, .comments-3{
    width: 25%;
    padding: .5rem;
    margin: .5rem;
  }
  .comments-1{
    
    margin-left: 0;
  }
  .comments-1 p{
    margin-left: 0;
  }
  .comments-2{
    top: .7rem;
    left: 20.6rem;
    position: absolute;
    transform: translateX(.7rem);
    padding: 1rem;
  }
  br{display: none;}
  .comments-3{
    top: 2rem;
    left: 42.2rem;
    position: absolute;
    transform: translateX(1.5rem);
  }
  .footer{
    position: relative;
  }
  .attribution{
    position: absolute;
    top: 6rem;
    left: 30rem;
  }
}
